/* Beverages Menu */

.beverages-menu {
  background-color: #601014;
  display: flex;
}

@media (orientation: landscape) {
  .beverages-menu {
    width: 50%;
  }
}

@media (orientation: portrait) {
  .beverages-menu {
    width: 100%;
  }
}

.section.beverages-heading {
  writing-mode: vertical-rl;
  text-orientation: revert;
  font-size: 70px;
  font-weight: lighter;
  padding: 0px;
  margin-bottom: 16px;
}

.section.beverages-heading p {
  margin: 0%;
  transform: scale(-1, -1);
}

.section.beverages-content {
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.section.beverages-content .coffee-table  > div > div:first-of-type {
  width: 60%;
  flex-grow: 2;
}

.section.beverages-content .coffee-table  > div > div:nth-of-type(2) {
  width: 20%;
}

.section.beverages-content .coffee-table  > div > div:nth-of-type(3) {
  width: 20%;
}

.section.beverages-content div {
  margin: 0px;
}

.section.beverages-content .coffee-table {
  margin: 2%;
  padding: 2%;
}

.section.beverages-content .coffee-table > div h3 {
  margin: 0px;
}

.section.beverages-content .alcoholic-table {
  border: solid;
  margin-top: 20px;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-start;
}

.section.beverages-content h3 {
  margin: 0px;
}

.section.beverages-content > .alcohol-beverages-table {
  border: solid;
  margin: 3%;
  padding: 2%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: unset;
}

.section.beverages-content > .alcohol-beverages-table > div:first-of-type {
  width: 100%;
}

.section.beverages-content > .alcohol-beverages-table > div:nth-of-type(2) {
  width: 50%;
}

.section.beverages-content > .alcohol-beverages-table > div:nth-of-type(3) {
  width: 50%;
}

.section.beverages-content > .alcohol-beverages-table > .wine-champagne-left-table .wine-table > div:nth-of-type(2) {
  margin-left: 1em;
}

.section.beverages-content > .alcohol-beverages-table > .wine-champagne-left-table .wine-table > div:nth-of-type(2)  > div:nth-of-type(2) {
  text-align: center;
}

.section.beverages-content > .alcohol-beverages-table > .wine-champagne-left-table .wine-table > div:nth-of-type(3)  {
  margin-left: 1em;
}

.section.beverages-content > .alcohol-beverages-table > .wine-champagne-left-table .wine-table > div:nth-of-type(3) > div:nth-of-type(2) {
  text-align: center;
}

.section.beverages-content > .alcohol-beverages-table > .wine-champagne-left-table .champagne-table > div:nth-of-type(2)  {
  margin-left: 1em;
}

.section.beverages-content > .alcohol-beverages-table > .wine-champagne-left-table .champagne-table > div:nth-of-type(2)  > div:nth-of-type(2) {
  text-align: center;
}

.section.beverages-content > .alcohol-beverages-table .beer-table > div:nth-of-type(2)  {
  margin-left: 1em;
}

.section.beverages-content > .alcohol-beverages-table .beer-table > div:nth-of-type(3)  {
  margin-left: 1em;
}

.section.beverages-content > .alcohol-beverages-table .beer-table > div:nth-of-type(4)  {
  margin-left: 1em;
}

.section.beverages-content > .alcohol-beverages-table .beer-table > div:nth-of-type(5)  {
  margin-left: 1em;
}


/* Food Menu */

.food-menu {
  display: flex;
  flex-direction: column;
  background-color: #000;
  width: 50%
}

@media (orientation: landscape) {
  .food-menu {
    width: 50%;
  }
}

@media (orientation: portrait) {
  .food-menu {
    width: 100%;
  }
}

.section.sweets, .section.brioche-savory, .section.sides  {
  padding: 0%;
  justify-content: center;
  align-items: center;
}

.section.sweets .sweets-table {
  border: solid;
  padding: 2%;
  margin: 2%;
}

.section.brioche-savory .brioche-savory-table {
  border: solid;
  padding: 2%;
  margin: 2%;
}

.section.sides .sides-table {
  border: solid;
  padding: 2%;
  margin: 2%;
  width: 95%;
}

.section.sides {
  display: flex;
  flex-direction: row;
}

.section.sides > div:first-of-type {
  order: 1;
}

.section.sides > div:nth-of-type(2)  {
  margin: 0%;
  width: 80%;
}

.section.sides p {
  writing-mode: vertical-rl;
  text-orientation: revert;
  transform: scale(-1, -1);
  font-size: 70px;
  font-weight: lighter;
  padding: 0%;
  margin: 32px 0 0 0;
}

.section.sweets .sweets-table > div:nth-of-type(2)  {
  margin-left: 1em;
  word-spacing: 0.3em;
}

.section.sweets .sweets-table > div:nth-of-type(3)  {
  margin-left: 1em;
}

.section.brioche-savory .brioche-savory-table > div:nth-of-type(2)  {
  margin-left: 1em;
  word-spacing: 0.3em;
}

.section.brioche-savory .brioche-savory-table > div:nth-of-type(4)  {
  margin-left: 1em;
}

.section.brioche-savory .brioche-savory-table > div:nth-of-type(5)  {
  margin-left: 1em;
}

.section.brioche-savory .brioche-savory-table > div:nth-of-type(6)  {
  margin-left: 1em;
}

.section.brioche-savory .brioche-savory-table > div:nth-of-type(7)  {
  margin-left: 2em;
  word-spacing: 0.3em;
}

.section.sides .sides-table > div:nth-of-type(2)  {
  margin-left: 1em;
}

.section.sides .sides-table > div:nth-of-type(3)  {
  margin-left: 1em;
}

.section.sides .sides-table > div:nth-of-type(4)  {
  margin-left: 1em;
}